body
 {
	background-color: white;
	
}
h1 {
	
	text-align: center;
	
}

div4{
	text-align: center;
}

#kage{
	text-align: center;
	list-style-position: inside;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 50%;
	text-align:center:
	
}

#newContent{
	text-align: center;
	}